[Unit]
Description=ISPConfig Rspamd Trainer protocol observer
Requires=ispconfig-rspamd-trainer-observer.socket
After=local-fs.target

[Service]
Type=simple
User=ispconfig-rspamd-trainer
Group=ispconfig-rspamd-trainer
ExecStart=/usr/local/bin/ispconfig-rspamd-trainer-observer
StateDirectory=ispconfig-rspamd-trainer
StateDirectoryMode=0750
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/ispconfig-rspamd-trainer /run/ispconfig-rspamd-trainer
RestrictAddressFamilies=AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
UMask=0077
