[Unit]
Description=ISPConfig Rspamd Trainer protocol observation socket

[Socket]
ListenStream=/run/ispconfig-rspamd-trainer/observe.sock
SocketUser=ispconfig-rspamd-trainer
SocketGroup=dovecot
SocketMode=0660
DirectoryMode=0755
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
